/*
  custom css files are loaded after core css files. Simply use the same selector to override a style.
  Example:
      #editbar LI {border:1px solid #000;}
    overrides
      #editbar LI {border:1px solid #d5d5d5;}
    from pad.css
*/
.light-background, .light-background #chatbox, .light-background #editorcontainerbox, .light-background #outerdocbody, .light-background #sidediv {
    --text-color: var(--super-dark-color);
    --text-soft-color: var(--dark-color);
    --border-color: var(--middle-color);
    --bg-soft-color: var(--super-light-color);
    --bg-color: white;
}

.super-light-editor #outerdocbody iframe, .super-light-editor #outerdocbody>#innerdocbody {
    --bg-color: var(--super-light-color);
    box-shadow: 0px 8px 12px #0000004a;
}
